@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FDA766 !important;
    overflow: hidden;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    text-align: left;
    text-shadow: 5px 2px 6px #2b2b2b;
    letter-spacing: 2px;
}

header .container {
    margin-top: 30px;
    margin-bottom: 20px;
}

header i {
    margin-right: 5px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: black;
}

nav ol li {
    font-weight: bold !important;
}

nav ol li {
    color: black !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white !important;
}

.content {
    height: 420px;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    padding: 0 30px !important;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

label,
input {
    display: block;
    font-family: 'Roboto', sans-serif;
}

label {
    font-size: 13.5px;
}

input {
    width: 100%;
    height: 50px;
    border: none !important;
    border-bottom: 2px solid orange !important;
    font-size: 18px;
    color: rgb(197, 128, 0);
    margin-bottom: 10px !important;
    font-weight: 600;
}

button {
    display: block;
    margin: 0 auto !important;
    padding: 10px 100px;
    border-radius: 7px !important;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px !important;
}

button:hover {
    background-color: rgb(196, 143, 30);
    color: rgb(255, 216, 145);
}

::placeholder {
    color: rgb(180, 173, 173);
}

input:focus,
button:focus {
    outline: none !important;
}