<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>FOODING | Tambah Data Bahan Makanan</title>
    <link th:href="@{/css/tambah-style.css?modified=20012009}" href="../static/css/tambah-style.css?modified=20012009" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<header>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/home'}">Admin</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/olahdata'}">Olah Data</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/datamakanan'}">Data Bahan Makanan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Data Bahan Makanan</li>
            </ol>
        </nav>
        <h1>TAMBAH DATA BAHAN MAKANAN</h1>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto py-3 content">
                <div class="col-sm-12">
                    <form action="#" th:action="@{/simpanmakanan}" th:object="${fooding}" method="post">
                        <label for="">Nama Bahan Makanan</label>
                        <input type="hidden" th:field="*{ID_Bahan_Makanan}" />
                        <input type="text" th:field="*{Nama}" placeholder="Masukkan Nama Bahan Makanan" />

                        <label for="">Jenis Bahan Makanan</label>
                        <input type="text" th:field="*{Jenis}" placeholder="Masukkan Jenis Bahan Makanan" />

                        <label for="">Jumlah Stok</label>
                        <input type="text" th:field="*{Stok}" placeholder="Masukkan Jumlah Stok" />

                        <label for="">Satuan</label>
                        <input type="text" th:field="*{Satuan}" placeholder="Masukkan Satuan" />

                        <button type="submit">Simpan Data</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/9646d55fb3.js" crossorigin="anonymous"></script>
</body>

</html>